@model IEnumerable<UpSkillz.Models.Course>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home page";
}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light main-text-color">Unlock Your Potential with UpSkillz</h1>
        <p class="lead text-body-secondary">Gain expertise in the latest technologies, earn industry-recognized certifications, and take your career to new heights.</p>
        <p>
          <a  asp-controller="Home" asp-action="Index" class="btn btn-upskillz my-2 text-white">Start learning now (Login)</a>
          <a class="btn btn-outline-secondary my-2" asp-controller="Courses" asp-action="Explore">Explore Courses</a>
        </p>
      </div>
    </div>
  </section>


  @await Html.PartialAsync("~/Views/Courses/Cards.cshtml", Model)

</main>