html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main-text-color{
  color: #529C57;
}
.main-bg-color{
  background-color: #529C57;
}

.btn-upskillz {
  background-color: #00B050;
  color: white;
}
.btn-upskillz:hover, .btn-upskillz:active {
  background-color: #00bb54;
  color: white;
}

#registerForm .logo, #account .logo {
  height: 100px;
}

#registerForm input:focus {
  border-color:#00bb54;
  box-shadow: none;
}

.border-shadow-dark {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  border: none; 
  border-radius: 0.25rem; 
}